body {
	margin: 0;
	overflow: hidden;
	background: white;
}
canvas {
	width: 960px; /* scale 3x */
	height: 720px; /* scale 3x */
	border: 1px solid black;

	/* crisp pixel */
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
} 

#textCanvas {
	position:fixed;
	top:0;
	left:0;
}